<!DOCTYPE html>
<html>
<head>
	<title>Convert</title>
</head>
<body>
<form method="POST">
	<input type="number" name="num">
	<input type="submit" name="submit">
	{% csrf_token %}
</form>
<h5 id="num">Integer : {{ num }}</h5>
<h5 id="bin">Biner : {{ bin }}</h5>
</body>
</html>